<!DOCTYPE html>
<html>
<head>
    <title>Emotion Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Emotion Detection System</h1>
    
    <div class="container">
        <div class="section" id="uploadSection">
            <h3>Upload Audio File</h3>
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="/">
                <label for="audioFile" class="file-input-label">Choose File</label>
                <input type="file" id="audioFile" name="audio" accept="audio/*" required>
                <div id="selectedFileName"></div>
                <div class="controls">
                    <button id="uploadPlayButton" class="play" disabled type="button">Play</button>
                    <button id="uploadPredictButton" class="predict" type="submit">Predict</button>
                </div>
            </form>
            <audio id="uploadAudioPlayback" controls class="hidden"></audio>
        </div>
        
        {% if prediction %}
        <div class="section result">
            <h3>Predicted Emotion: {{ prediction }}</h3>
        </div>
        {% endif %}
    </div>

    <script>
        // Upload functionality
        const audioFileInput = document.getElementById('audioFile');
        let uploadedFile = null;
        
        audioFileInput.addEventListener('change', (event) => {
            uploadedFile = event.target.files[0];
            if (uploadedFile) {
                document.getElementById('selectedFileName').textContent = uploadedFile.name;
                document.getElementById('uploadPlayButton').disabled = false;
                
                const audioUrl = URL.createObjectURL(uploadedFile);
                const audio = document.getElementById('uploadAudioPlayback');
                audio.src = audioUrl;
                audio.classList.remove('hidden');
            }
        });
        
        document.getElementById('uploadPlayButton').addEventListener('click', () => {
            const audio = document.getElementById('uploadAudioPlayback');
            audio.play();
        });
    </script>
</body>
</html>
